<div class="row row--hero cover">
  <div class="row__column">
    <h1 class="--inverse">WINE <br /> For the World</h1>
  </div>
</div>
<div class="row row--columnar">
  <div class="row__column">
    <div class="highlight_panel highlight_panel--primary">
      <h3>Wine</h3>
      <p>Take your wine love to the next level.</p>
    </div>
  </div>
  <div class="row__column">
    <div class="highlight_panel highlight_panel--secondary">
      <h3>Food</h3>
      <p>Find the perfect wine for the perfect meal.</p>
    </div>
  </div>
  <div class="row__column">
    <div class="highlight_panel highlight_panel--tertiary">
      <h3>Points</h3>
      <p>Earn points by reviewing wines.</p>
    </div>
  </div>
  <div class="row__column">
    <div class="highlight_panel highlight_panel--tertiary">
      <h3>Points</h3>
      <p>Earn points by reviewing wines.</p>
    </div>
  </div>
</div>
<div class="row row--columnar">
  <div class="row__column row__column--double">
    <h1>Header Left</h1>
  </div>
  <div class="row__column">
    <h1>Header Right</h1>
  </div>
</div>