extends layout.pug

block content
  .container-fluid.cover(style="background-image: url('/images/cover.jpg');")
    .col-xs-12.col-sm-6.col-sm-offset-3.text-center
      h1.--inverse WINE
        br
        span For the World
