extends ../layout.pug

block content
  div.hero-head.hero-head-primary
    h2.text-center Top Producers
  .container-fluid.highlight-primary
    .row
      each producer, index in viewmodel.selected_producers
        .col-xs-6.col-sm-3
          a(href="/producers/details/" + producer.id)
            .panel.panel-default
              .panel-body
                .text-center
                  div.imgcard.c(style="background-image:url(\"/images/" + viewmodel.magic.getPic(producer.id,'vineyard') + ".jpg\");")
                    br
                  .tile-text
                    span=producer.name
  div.hero-head.hero-head-secondary
    h2.text-center Browse Producers
  .container
    .row

      each producer in viewmodel.result_producers
        .col-xs-6.col-sm-3
          a(href="/producers/details/" + producer.id)
            .panel.panel-default
              .panel-body
                .text-center
                  div.imgcard.c(style="background-image:url(\"/images/" + viewmodel.magic.getPic(producer.id,'vineyard')+ ".jpg\");")
                    br
                  .tile-text
                    span=producer.name
    hr
    .text-center
      ul.pagination
        - var n = 1;
          while n <= viewmodel.count_pages
            li
              a(href="/producers/" + n)=n++
