extends ../layout.pug

block content
  .container-fluid.cover(style="background-image: url('/images/" + viewmodel.magic.getPic(viewmodel.id,'food') + ".jpg');")
    .vcenter
      .col-xs-12.col-sm-6.col-sm-offset-3.text-center
        h1.--inverse=viewmodel.name
  .container
    .row
      .col-md-12
        .panel.panel-default
          .panel-body
            .text-content
              p #{viewmodel.description}
    .row
      .col-xs-6.col-sm-4
        .panel.panel-default
          
          .panel-body 
            .text-content
              if viewmodel.fatty
                p This is a fatty food. Fatty foods pair well with high-acid wines.
              else
                p This is a low fat food and may be overpowered by high-acid wines.
          .panel-footer.text-center Fat
      .col-xs-6.col-sm-4
        .panel.panel-default
          .panel-body
            .text-content
              if viewmodel.sweet
                p This is a sweet food. Seek a wine that is as sweet or sweeter than this food.
              else
                p This food isn't sweet. Avoid highly sweet wines.
          .panel-footer.text-center Sugar
      .col-xs-6.col-sm-4
        .panel.panel-default
          .panel-body 
            .text-content
              if viewmodel.dense
                p This is a dense food. Seek a light, refreshing, or even sparkling wine.
              else
                p This is a light food and should be paired with a medium-body wine.
          .panel-footer.text-center Richness
      .col-xs-6.col-sm-4
        .panel.panel-default
          .panel-body 
            .text-content
              if viewmodel.delicate
                p This is a delicate food. Seek an unoaked white or red wine.
              else
                p This is a strong food. Seek oaked red wine.
          .panel-footer.text-center Delicacy
      .col-xs-6.col-sm-4
        .panel.panel-default
          .panel-body 
            .text-content
              if viewmodel.acid
                p This is a food high in acid. Try to match with a similarly acidic wine.
              else
                p This is a low acid food.
          .panel-footer.text-center Acid
      .col-xs-6.col-sm-4
        .panel.panel-default
          .panel-body 
            .text-content
              if viewmodel.salt
                p This is a high-salt food. Avoid wines high in tannin.
              else
                p This isn't a salty food. 
          .panel-footer.text-center Salt
  div.hero-head.hero-head-primary
    h2.text-center Suggested Wines
  .container-fluid.highlight-primary
    .row
      each wine, index in viewmodel.suggested_wines
        .col-xs-6.col-sm-3
          a(href="/wines/details/" + wine.id)
            .panel.panel-default
              .panel-body
                .text-center
                  div.imgcard(style="background-image:url(\"/images/" + viewmodel.magic.getPic(wine.id,'wine') +".jpg\");")
                    br
                  .tile-text
                    span=wine.name