extends ../layout.pug

block content
  div.hero-head.hero-head-primary
    h2.text-center Top Foods
  .container-fluid.highlight-primary
    .row
      each food, index in viewmodel.selected_foods
        .col-xs-6.col-sm-3
          a(href="/foods/details/" + food.id)
            .panel.panel-default
              .panel-body
                .text-center
                  div.imgcard(style="background-image:url(\"/images/" + food.picture + ".jpg\");")
                    br
                  .tile-text
                    span=food.name
  div.hero-head.hero-head-secondary
    h2.text-center Browse Foods
  .container
    .row
      each food in viewmodel.result_foods
        .col-xs-6.col-sm-3
          a(href="/foods/details/" + food.id)
            .panel.panel-default
              .text-center
                div.imgcard(style="background-image:url(\"/images/" + food.picture + ".jpg\");")
                  br
                .tile-text
                  span=food.name
    hr
    .text-center
      ul.pagination
        - var n = 1;
          while n <= viewmodel.count_pages
            li
              a(href="/foods/" + n)=n++