<form action="EXAMPLE_ACTION" method="post">

  <h1>Region Form</h1>

  Title:<br>
  <input type="text" name="title" required><br>

  Climate Type:<br>
  <input type="text" name="climate_type" required><br>

  Description:<br>
  <textarea name="description" rows="5" cols="20" required></textarea><br>

  Thumbnail Picture:<br>
  <select name="thumbnail">
    {{#each pictures}}
      <option value= "{{this.id}}" >{{this.id}}</option>
    {{/each}}
  </select><br>

  Cover Picture:<br>
  <select name="cover">
    {{#each pictures}}
      <option value= "{{this.id}}" >{{this.id}}</option>
    {{/each}}
  </select><br>

  <input type="submit" value="Submit">


</form>
