<form action="EXAMPLE_ACTION" method="post">

  <h1>User Form</h1><br>

  Name:<br>
  <input type="text" name="name" required><br>

  Email:<br>
  <input type="text" name="email" required><br>

  Password:<br>
  <input type="password" name="password" required><br>

  Role:<br>
  <input name="percent" type="role" min="0" max ="100"><br>

  Likes:<br>
  <input name="percent" type="likes" min="0" max ="100"><br>


  <input type="submit" value="Submit">

</form>
