<div class="row row--hero cover">
  <div class="row__column">
    <h1 class="--inverse">!!WINE NAME!!</h1>
    <h2 class="--inverse">!!RATING/5 | COUNT REVIEWS!!</h2>
  </div>
</div>
<!-- data bar-->
<div class="row--bar row--databar">
  <div class="row__datacolumn row__datacolumn--first"><h2>14.5%</h2></div>
  <div class="row__datacolumn"><h2>$14</h2></div>
  <div class="row__datacolumn"><h2>Red</h2></div>
  <div class="row__datacolumn"><h2>2014</h2></div>
</div>
<!-- overview-->
<h2 class="--row__heading">Overview</h2>
<div class="row row--longformtext">
  <div class="row__text_panel">
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
  </div>
</div>
<!-- Facts -->
<div class="row row--columnar">
  <div class="row__column row__column--double">
    <div class="row row--columnar--nopad"> <!--tile component-->
      <div class="row__column"> <!-- acid-->
        <div class="multiselect_panel" onclick="select('panel_acid');">
          <div class="datacontainer--vertical">
            <div class="datashaded--vertical" style="height: 50px; margin-top:50px;">
              <span class="datalabel">Medium</span>
            </div>
          </div>
          <h3>Acid</h3>
        </div>
      </div>
      <div class="row__column"> <!-- alcohol-->
        <div class="multiselect_panel" onclick="select('panel_alcohol');">
          <div class="datacontainer--vertical">
            <div class="datashaded--vertical" style="height: 90px; margin-top:10px;">
              <span class="datalabel">14.5%</span>
            </div>
          </div>
          <h3>Alcohol</h3>
        </div>
      </div>
      <div class="row__column"> <!-- Body-->
        <div class="multiselect_panel" onclick="select('panel_body');">
          <div class="datacontainer--vertical">
            <div class="datashaded--vertical" style="height: 40px; margin-top:60px;">
              <span class="datalabel">Creamy</span>
            </div>
          </div>
          <h3>Body</h3>
        </div>
      </div>
      <div class="row__column"> <!-- tannin-->
        <div class="multiselect_panel" onclick="select('panel_tannin');">
          <div class="datacontainer--vertical">
            <div class="datashaded--vertical" style="height: 20px; margin-top:80px;">
              <span class="datalabel">Low</span>
            </div>
          </div>
          <h3>Tannin</h3>
        </div>
      </div>
    </div><!-- endtile component-->
  </div>
  <div class="row__column">
    <div class="highlight_panel" id="panel_acid">
         <h3>Fast Facts: Acid</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut</p>
    </div>
    <div class="highlight_panel" id="panel_alcohol" style="display:none;">
         <h3>Fast Facts: Alcohol</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut</p>
    </div>
    <div class="highlight_panel" id="panel_body" style="display:none;">
         <h3>Fast Facts: Body</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut</p>
    </div>
    <div class="highlight_panel" id="panel_tannin" style="display:none;">
         <h3>Fast Facts: Tannin</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut</p>
    </div>
   </div>
</div>
<!-- Flavor Profile-->

<!-- Vineyard & Region-->

<!-- See Also -->

<script>
  function select (element) {
    document.getElementById("panel_acid").style.display = 'none';
    document.getElementById("panel_alcohol").style.display = 'none';
    document.getElementById("panel_body").style.display = 'none';
    document.getElementById("panel_tannin").style.display = 'none';
    document.getElementById(element).style.display = '';
  }
  
</script>