/**
 * Author: Nathan C. Castle 
 * Note: Follows Block-Element-Modifier Convention
 *     : Block - standalone entity meaningful on its own (header)
 *     : Element - Parts of block with no standalone meaning (menu item, list item)
 *     : Modifier - Flags on blocks or elements (highlighted, fixed, checked)
 **/

@import 'globals';

body {
  margin: 0px 0px 0px 0px;
  font-family: @font-primary;
  padding-top: 55px;
  background-color: @color-background;
}

.cover { /** uses cover photo**/
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  height: 200px;
  width: 100%;
  display: table;
}

.row-janky {
  display: flex;
  min-height: 10em;
}

.row--bar {
  display: flex;
  min-height: 2em;
  background-image: linear-gradient(to bottom, @color-background-bright, @color-background);
}

.row--longformtext {
  padding-left: 0px;
  padding-right: 0px;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.row__text_panel {
  border-top-width: @color-bar-thickness;
  border-top-color: @color-primary;
  border-top-style: solid;
  padding-left: @side-padding;
  padding-right: @side-padding;
  height: 100%;
  text-align: left;
  max-width: 1000px;
  background-color: @color-background-bright;
}

.row--hero {
  padding-left: 0px;
  padding-right: 0px;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  min-height: 20em;
}

.row--databar {
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-top-width: @color-bar-thickness;
  border-top-color: @color-primary;
  border-top-style: solid;
}

.row--columnar {
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;
  margin-left: @side-padding;
  margin-right: @side-padding;
  margin-top: @side-padding;
}

.row--columnar--nopad {
  .row--columnar;
  margin-top: 0em;
}

.row--hero .row__column {
  min-height: 5em;
  flex-basis: 2 * @block-width;
  text-align: center;
}

.row__datacolumn {
  padding-left: 1.5em;
  padding-right: 1.5em;
  border-left-width: @color-bar-thickness;
  border-left-color: @color-primary;
  border-left-style: solid;
}

.row__datacolumn--first {
  border-left-style: none;
}

.row__column {
  flex-grow: 1;
  flex-basis: @block-width;
}
.row__column--double {
  flex-grow: 2;
  flex-basis: 2 * @block-width;
}

@media (max-width: @mobile-width) {
  .row--columnar {
    flex-direction: column;
    justify-content: flex-start;
    padding-top: @side-padding;
    padding-bottom: @side-padding;
  }
  .row__column {
    flex-basis: initial;
    margin-top: @side-padding;
    margin-bottom: @side-padding;
  }
  .row__column--double {
    flex-basis: initial;
    flex-grow: 1;
    margin-top: @side-padding;
    margin-bottom: @side-padding;
  }
}



.highlight_panel {
  
  margin-left: @side-padding;
  margin-right: @side-padding;
  margin-top: @side-padding;
  padding-left: @side-padding;
  padding-right: @side-padding;
  text-align: center;
  background-color: @color-background-bright;
  padding-bottom: @side-padding;
  padding-top: @side-padding;
}

.highlight_panel--primary {
  border-top-color: @color-primary;
  border-top-style: solid;
  border-top-width: @color-bar-thickness;
}

.highlight_panel--secondary {
  border-top-color: @color-secondary;
  border-top-style: solid;
  border-top-width: @color-bar-thickness;
}

.highlight_panel--tertiary {
  border-top-color: @color-tertiary;
  border-top-style: solid;
  border-top-width: @color-bar-thickness;
}

.multiselect_panel {
  margin-top: @side-padding;
  padding-left: @side-padding;
  padding-right: @side-padding;
  padding-top: @side-padding;
  padding-bottom: @side-padding;
  text-align: center;
  background-color: @color-background-bright;
}

.multiselect_panel:hover {
  margin-top: @side-padding;
  padding-left: @side-padding;
  padding-right: @side-padding;
  padding-bottom: @side-padding;
  text-align: center;
  background-color: @color-background-dark;
}

.hero-head {
  width: 100%;
  height: 75px;
  padding-top: 20px;
}

.hero-head-primary {
  background-color: @color-primary;
}

.hero-head h2, h3, h4, h1  {
  color: white;
}

.hero-head-secondary {
  background-color: @color-secondary;
  height: 50px;
  padding-top: 10px;
}

.hero-head-tertiary {
  background-color: @color-tertiary;
  height: 50px;
  padding-top: 10px;
}


img {
  height: 100px;
  width: 100px;
}

.highlight-primary {
  padding-top: @side-padding;
  padding-left: @side-padding;
  padding-right: @side-padding;
  background-color: lighten(@color-primary, 65%);
  height: 100%;
  width: 100%;
}

.highlight-secondary {
  padding-top: @side-padding;
  padding-left: @side-padding;
  padding-right: @side-padding;
  height: 100%;
  width: 100%;
}

.panel-body {
  padding-top: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-left: 0px;
  .tile-text{
    display: table;
    height: 50px;
    width: 100%;
    text-align: center;
    span {
      display: table-cell;
      text-align: center;
      vertical-align: middle;
    }
  }
  .text-content {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 10px;
    padding-left: 10px;
  }
}

.container {
  padding-top: @side-padding;
}

.vcenter {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
  width: 100%;
}