extends ../layout.pug

block content
  
  div.hero-head.hero-head-primary
    h2.text-center Top regions
  .container-fluid.highlight-primary
    .row
      each region, index in viewmodel.selected_regions
        .col-xs-6.col-sm-3
          a(href="/regions/details/" + region.id)
            .panel.panel-default
              .panel-body
                .text-center
                  div.imgcard(style="background-image:url(\"/images/" + region.picture + ".jpg\");")
                    br
                  .tile-text
                    span=region.title
  div.hero-head.hero-head-secondary
    h2.text-center Browse regions
  .container
    .row
      each region in viewmodel.result_regions
        .col-xs-6.col-sm-3
          a(href="/regions/details/" + region.id)
            .panel.panel-default
              .panel-body
                .text-center
                  div.imgcard(style="background-image:url(\"/images/" + region.picture + ".jpg\");")
                    br
                  .tile-text
                    span=region.title
    hr
    .text-center
      ul.pagination
        - var n = 1;
          while n <= viewmodel.count_pages
            li
              a(href="/regions/" + n)=n++